{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="icon"
          type="image/svg+xml"
          href="{% static 'assets/favicon.svg' %}" />
    <title>HooksMaster | Affiliate Program Policy</title>

    <script>
      function adjustZoom() {
        const screenWidth = window.innerWidth;
        if (screenWidth >= 1400 && screenWidth <= 1599) {
          document.body.style.zoom = '88%';
        }
        document.body.classList.remove('body-hidden');
      }
      document.addEventListener('DOMContentLoaded', adjustZoom);
      document.addEventListener('resize', adjustZoom);
      window.onload = function() {
        adjustZoom();
      };
    </script>

    <style>
      .content {
        max-width: 1500px;
        padding: 0 30px;
        margin: 50px auto;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }

      .content h1 {
        margin-bottom: 20px;
      }

      .content h3 {
        margin-bottom: 10px;
      }

      .content p {
        margin-bottom: 20px;
      }

      .content p:last-of-type {
        margin-bottom: 0;
      }

      .content .before-list-items {
        margin-bottom: 0 !important;
      }

      .content ul {
        margin: 10px 35px;
      }
    </style>
  </head>
  <body class="body-hidden">
    <div class="root">
      <header>
        <a href="/">
          <img class="logo" src="{% static 'assets/logo.svg' %}" alt="logo" />
        </a>
        <div>
          <ul class="navigation">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#Portfolio">Portfolio</a>
            </li>
            <li>
              <a href="/#Pricing">Pricing</a>
            </li>
            <li>
              <a href="/#About">About</a>
            </li>
            <li>
              <a href="/#Contact">Contact</a>
            </li>
          </ul>

          <div class="line"></div>
          <div class="auth">
            <button class="login">
              <a class="links black" href="{% url 'account:login' %}">Login</a>
            </button>
            <button class="get_started">
              <span><a class="links white" href="#Pricing">Get started</a></span>
            </button>
          </div>
        </div>
        <div class="menu">
          <img src="{% static 'assets/menu.svg' %}" alt="menu" />
        </div>
      </header>
      <div class="menu_wrapper">
        <img class="close_menu"
             src="{% static 'assets/close.svg' %}"
             alt="close menu" />
        <ul class="navigation">
          <li>
            <a href="/" class="menu-a">Home</a>
          </li>
          <li>
            <a href="/#Portfolio" class="menu-a">Portfolio</a>
          </li>
          <li>
            <a href="/#Pricing" class="menu-a">Pricing</a>
          </li>
          <li>
            <a href="/#About" class="menu-a">About</a>
          </li>
          <li>
            <a href="/#Contact" class="menu-a">Contact</a>
          </li>
        </ul>
      </div>

      <div class="content">
        <h1>Affiliate Program Policy</h1>

        <h3>1. Introduction</h3>
        <p>
          The HooksMaster.io Affiliate Program allows you to earn a 30%
          recurring commission on customer subscriptions generated through your
          unique referral link.
        </p>

        <h3>2. Eligibility and Enrollment</h3>
        <p>
          Affiliates must complete an application and agree to these terms.
          Membership in the affiliate program is at the discretion of
          HooksMaster.io and may be revoked for violations of these terms.
        </p>

        <h3>3. Commission Structure</h3>
        <ul>
          <li>
            <strong>Payout Rate</strong>: Affiliates earn a 30% commission on
            recurring customer payments.
          </li>
          <li>
            <strong>Payout Schedule</strong>: Commissions are paid monthly,
            provided a minimum payout threshold is reached.
          </li>
        </ul>
        <p></p>

        <h3>4. Affiliate Responsibilities</h3>
        <p>
          Affiliates agree to promote HooksMaster.io responsibly, following
          ethical guidelines, and avoiding misleading claims or unauthorized
          branding use.
        </p>

        <h3>5. Termination of Affiliate Status</h3>
        <p>
          Affiliates may be removed from the program for violating these terms
          or misusing affiliate marketing guidelines. Upon termination, no
          further commissions will be earned.
        </p>

        <h3>Contact Information</h3>
        <p>
          For further questions or information, please contact
          support@hooksmaster.io.
        </p>
      </div>

      <footer>
        <div class="information">
          <img src="{% static 'assets/white_logo.svg' %}" alt="logo" />
          <p class="desktop_p">
            Every Facebook advertiser knows the power of a great
            <br />
            video hook. Now, with HooksMaster.io, you can create
            <br />
            winning hooks in minutes, without the hassle or
            <br />
            expense of hiring video editors.
          </p>
          <p class="mobile_p">
            Every Facebook advertiser knows the power of a
            <br />
            great video hook. Now, with HooksMaster.io, you
            <br />
            can create winning hooks in minutes, without the
            <br />
            hassle or expense of hiring video editors.
          </p>
          <ul class="socials">
            <li>
              <img src="{% static 'assets/facebook.svg' %}" alt="facebook" />
            </li>
            <li>
              <img src="{% static 'assets/twitter.svg' %}" alt="twitter" />
            </li>
            <li>
              <img src="{% static 'assets/linkedin.svg' %}" alt="linkedin" />
            </li>
          </ul>
        </div>
        <div class="navigation_bar">
          <div class="box">
            <h5>Company</h5>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/#Portfolio">Portfolio</a>
              </li>
              <li>
                <a href="/#Pricing">Pricing</a>
              </li>
              <li>
                <a href="/#About">About</a>
              </li>
            </ul>
          </div>
          <div class="box">
            <h5>Help</h5>
            <ul>
              <li>
                <a href="/#Contact">Contact us</a>
              </li>
              <li>
                <a href="{% url 'account:terms_and_conditions' %}">Terms & Conditions</a>
              </li>
              <li>
                <a href="{% url 'account:privacy_policy' %}">Privacy policy</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script type="module" src="{% static 'main.js' %}"></script>
  </body>
</html>
