{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/header.css' %}">

  <link rel="icon" type="image/svg+xml" href="{% static 'assets/favicon.svg' %}" />
  <title>HooksMaster | Privacy Policy</title>

  <script>
    function adjustZoom() {
      const screenWidth = window.innerWidth;
      if (screenWidth >= 1400 && screenWidth <= 1599) {
        document.body.style.zoom = '88%';
      }
      document.body.classList.remove('body-hidden');
    }
    document.addEventListener('DOMContentLoaded', adjustZoom);
    document.addEventListener('resize', adjustZoom);
    window.onload = function () {
      adjustZoom();
    };
  </script>
  <style>
    .content {
      max-width: 1500px;
      padding: 0 30px;
      margin: 50px auto;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .content h1 {
      margin-bottom: 20px;
    }

    .content h3 {
      margin-bottom: 10px;
    }

    .content p {
      margin-bottom: 20px;
    }

    .content p:last-of-type {
      margin-bottom: 0;
    }

    .content .before-list-items {
      margin-bottom: 0 !important;
    }

    .content ul {
      margin: 10px 35px;
    }
  </style>
</head>

<body class="body-hidden">
  <div class="root">
    <header>
      <a href="/">
        <img class="logo" src="{% static 'assets/logo.svg' %}" alt="logo" />
      </a>
      <div>
        <ul class="navigation">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/#Portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/#Pricing">Pricing</a>
          </li>
          <li>
            <a href="/#About">About</a>
          </li>
          <li>
            <a href="/#Contact">Contact</a>
          </li>
        </ul>

        <div class="line"></div>
        <div class="auth">
          <button class="login">
            <a class="links black" href="{% url 'account:login' %}">Login</a>
          </button>
          <button class="get_started">
            <span><a class="links white" href="#Pricing">Get started</a></span>
          </button>
        </div>
      </div>
      <div class="menu">
        <img src="{% static 'assets/menu.svg' %}" alt="menu" />
      </div>
    </header>
    <div class="menu_wrapper">
      <img class="close_menu" src="{% static 'assets/close.svg' %}" alt="close menu" />
      <ul class="navigation">
        <li>
          <a href="/" class="menu-a">Home</a>
        </li>
        <li>
          <a href="/#Portfolio" class="menu-a">Portfolio</a>
        </li>
        <li>
          <a href="/#Pricing" class="menu-a">Pricing</a>
        </li>
        <li>
          <a href="/#About" class="menu-a">About</a>
        </li>
        <li>
          <a href="/#Contact" class="menu-a">Contact</a>
        </li>
      </ul>
    </div>

    <div class="content">
      <h1>Privacy Policy for HooksMaster.io</h1>

      <h3>1. Introduction</h3>
      <p>
        HooksMaster.io is committed to protecting your privacy. This Privacy
        Policy explains our data collection practices and your rights
        regarding your information.
      </p>

      <h3>2. Data Collection</h3>
      <ul>
        <li>
          <strong>Account Information</strong>: We collect information
          provided during account creation, such as name, email, and payment
          details.
        </li>

        <li>
          <strong>Usage Data</strong>: We gather data on interactions with the
          platform, including IP addresses, cookies, and device information,
          to improve the user experience.
        </li>

        <li>
          <strong>Payment Information</strong>: Payments are securely
          processed through third-party providers, and payment details are not
          stored on our servers.
        </li>
      </ul>
      <p></p>

      <h3>3. Data Storage and Processing</h3>
      <p>
        Data is securely stored on cloud servers, and processing is handled
        according to industry standards. Access to your data is limited to
        authorized personnel only.
      </p>

      <h3>4. Use of Collected Data</h3>
      <ul>
        <li>
          <strong>Service Enhancement</strong>: To personalize your experience
          and improve platform functionality.
        </li>
        <li>
          <strong>Customer Support</strong>: To assist with inquiries and
          provide technical support.
        </li>
        <li>
          <strong>Marketing</strong>: We may send occasional promotional
          content, which you can opt out of at any time by contacting
          support@hooksmaster.io.
        </li>
      </ul>
      <p></p>

      <h3>5. User Rights</h3>
      <ul>
        <li>
          <strong>Access</strong>: Users have the right to request access to
          their data.
        </li>
        <li>
          <strong>Modification</strong>: You may update or correct your
          information.
        </li>
        <li>
          <strong>Deletion</strong>: Users can request data deletion, subject
          to legal retention requirements.
        </li>
      </ul>
      <p>Contact support for any of these requests.</p>

      <h3>6. Cookie Policy</h3>
      <p>
        Cookies are used to improve functionality. You may control cookies
        through your browser settings.
      </p>

      <h3>7. Data Security Measures</h3>
      <p>
        HooksMaster.io uses industry-standard encryption and security
        protocols to protect your information.
      </p>

      <h3>8. Changes to Privacy Policy</h3>
      <p>
        We may update this policy, and significant changes will be
        communicated to users.
      </p>

      <h3>Contact Information</h3>
      <p>
        For questions regarding our Privacy Policy, please contact
        support@hooksmaster.io.
      </p>
    </div>

    <footer>
      <div class="information">
        <img src="{% static 'assets/white_logo.svg' %}" alt="logo" />
        <p class="desktop_p">
          Every Facebook advertiser knows the power of a great
          <br />
          video hook. Now, with HooksMaster.io, you can create
          <br />
          winning hooks in minutes, without the hassle or
          <br />
          expense of hiring video editors.
        </p>
        <p class="mobile_p">
          Every Facebook advertiser knows the power of a
          <br />
          great video hook. Now, with HooksMaster.io, you
          <br />
          can create winning hooks in minutes, without the
          <br />
          hassle or expense of hiring video editors.
        </p>
        <ul class="socials">
          <li>
            <img src="{% static 'assets/facebook.svg' %}" alt="facebook" />
          </li>
          <li>
            <img src="{% static 'assets/twitter.svg' %}" alt="twitter" />
          </li>
          <li>
            <img src="{% static 'assets/linkedin.svg' %}" alt="linkedin" />
          </li>
        </ul>
      </div>
      <div class="navigation_bar">
        <div class="box">
          <h5>Company</h5>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#Portfolio">Portfolio</a>
            </li>
            <li>
              <a href="/#Pricing">Pricing</a>
            </li>
            <li>
              <a href="/#About">About</a>
            </li>
          </ul>
        </div>
        <div class="box">
          <h5>Help</h5>
          <ul>
            <li>
              <a href="/#Contact">Contact us</a>
            </li>
            <li>
              <a href="{% url 'account:terms_and_conditions' %}">Terms & Conditions</a>
            </li>
            <li>
              <a href="{% url 'account:privacy_policy' %}">Privacy policy</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script type="module" src="{% static 'main.js' %}"></script>
</body>

</html>