{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="icon"
          type="image/svg+xml"
          href="{% static 'assets/favicon.svg' %}" />
    <title>HooksMaster | Terms & Conditions</title>

    <script>
      function adjustZoom() {
        const screenWidth = window.innerWidth;
        if (screenWidth >= 1400 && screenWidth <= 1599) {
          document.body.style.zoom = '88%';
        }
        document.body.classList.remove('body-hidden');
      }
      document.addEventListener('DOMContentLoaded', adjustZoom);
      document.addEventListener('resize', adjustZoom);
      window.onload = function() {
        adjustZoom();
      };
    </script>

    <style>
      .content {
        max-width: 1500px;
        padding: 0 30px;
        margin: 50px auto;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }

      .content h1 {
        margin-bottom: 20px;
      }

      .content h3 {
        margin-bottom: 10px;
      }

      .content p {
        margin-bottom: 20px;
      }

      .content p:last-of-type {
        margin-bottom: 0;
      }

      .content .before-list-items {
        margin-bottom: 0 !important;
      }

      .content ul {
        margin: 10px 35px;
      }
    </style>
  </head>
  <body class="body-hidden">
    <div class="root">
      <header>
        <a href="/">
          <img class="logo" src="{% static 'assets/logo.svg' %}" alt="logo" />
        </a>
        <div>
          <ul class="navigation">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#Portfolio">Portfolio</a>
            </li>
            <li>
              <a href="/#Pricing">Pricing</a>
            </li>
            <li>
              <a href="/#About">About</a>
            </li>
            <li>
              <a href="/#Contact">Contact</a>
            </li>
          </ul>

          <div class="line"></div>
          <div class="auth">
            <button class="login">
              <a class="links black" href="{% url 'account:login' %}">Login</a>
            </button>
            <button class="get_started">
              <span><a class="links white" href="#Pricing">Get started</a></span>
            </button>
          </div>
        </div>
        <div class="menu">
          <img src="{% static 'assets/menu.svg' %}" alt="menu" />
        </div>
      </header>
      <div class="menu_wrapper">
        <img class="close_menu"
             src="{% static 'assets/close.svg' %}"
             alt="close menu" />
        <ul class="navigation">
          <li>
            <a href="/" class="menu-a">Home</a>
          </li>
          <li>
            <a href="/#Portfolio" class="menu-a">Portfolio</a>
          </li>
          <li>
            <a href="/#Pricing" class="menu-a">Pricing</a>
          </li>
          <li>
            <a href="/#About" class="menu-a">About</a>
          </li>
          <li>
            <a href="/#Contact" class="menu-a">Contact</a>
          </li>
        </ul>
      </div>

      <div class="content">
        <h1>Terms of Service for HooksMaster.io</h1>

        <h3>1. Introduction</h3>

        <p>
          Welcome to HooksMaster.io, a platform operated by Crown18 Limited,
          designed to help businesses create high-converting video hooks for
          Facebook advertising quickly and affordably. These Terms of Service
          ("Terms") govern your use of HooksMaster.io, including all content,
          features, and functionality provided. By creating an account or
          accessing our platform, you agree to these Terms.
        </p>

        <h3>2. Eligibility</h3>
        <p>
          You must be at least 18 years old and legally permitted to enter into
          agreements. By using HooksMaster.io, you confirm that you meet these
          eligibility requirements.
        </p>
        <h3>3. Account Registration and Access</h3>
        <p>
          To use the platform, you must create an account with accurate and
          complete information, including a valid email. You are responsible for
          keeping your login credentials secure and notifying us immediately at
          support@hooksmaster.io if you suspect unauthorized access.
        </p>
        <h3>4. Subscription Terms</h3>
        <p>
          HooksMaster.io offers flexible subscription plans, including a Free
          Trial, Pro Plan, and Exclusive Plan. Subscriptions renew automatically
          each month, with fees charged to your payment method unless canceled
          before the renewal date. You may upgrade or downgrade plans as needed,
          with changes taking effect in the following billing cycle.
        </p>
        <h3>5. Refund Policy</h3>
        <p>
          Refunds are available under specific conditions. Customers may request
          a refund within the first 3 days of subscribing, provided they have
          not used more than one credit on their account. Please refer to our
          Refund Policy for detailed terms.
        </p>
        <h3>6. User Conduct</h3>
        <p class="before-list-items">
          Users agree not to misuse HooksMaster.io in any way, including but not
          limited to:
        </p>

        <ul>
          <li>Sharing or reselling platform features.</li>
          <li>Providing false information or impersonating others.</li>
          <li>Engaging in misleading or fraudulent activities through the platform.</li>
        </ul>

        <p>
          Violation of these rules
          may lead to suspension or termination of your account without a
          refund.
        </p>
        <h3>7. Limitation of Liability</h3>
        <p>
          HooksMaster.io, its owners, and affiliates are not liable for any
          indirect, incidental, or consequential damages resulting from the use
          of the platform, including data loss, service interruptions, or issues
          beyond our control.
        </p>
        <h3>8. Intellectual Property</h3>
        <p>
          All content, trademarks, and technology on HooksMaster.io are the
          property of Crown18 Limited. Users retain rights to the hooks they
          create, but all tools, templates, and features provided remain the
          property of HooksMaster.io.
        </p>
        <h3>9. Termination</h3>
        <p>
          Accounts may be suspended or terminated for violations of these Terms
          or non-payment. Users may terminate their account at any time, but
          subscription fees already paid are non-refundable.
        </p>
        <h3>10. Dispute Resolution</h3>
        <p>
          Disputes will be resolved under the jurisdiction applicable to Crown18
          Limited.
        </p>
      </div>

      <footer>
        <div class="information">
          <img src="{% static 'assets/white_logo.svg' %}" alt="logo" />
          <p class="desktop_p">
            Every Facebook advertiser knows the power of a great
            <br />
            video hook. Now, with HooksMaster.io, you can create
            <br />
            winning hooks in minutes, without the hassle or
            <br />
            expense of hiring video editors.
          </p>
          <p class="mobile_p">
            Every Facebook advertiser knows the power of a
            <br />
            great video hook. Now, with HooksMaster.io, you
            <br />
            can create winning hooks in minutes, without the
            <br />
            hassle or expense of hiring video editors.
          </p>
          <ul class="socials">
            <li>
              <img src="{% static 'assets/facebook.svg' %}" alt="facebook" />
            </li>
            <li>
              <img src="{% static 'assets/twitter.svg' %}" alt="twitter" />
            </li>
            <li>
              <img src="{% static 'assets/linkedin.svg' %}" alt="linkedin" />
            </li>
          </ul>
        </div>
        <div class="navigation_bar">
          <div class="box">
            <h5>Company</h5>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/#Portfolio">Portfolio</a>
              </li>
              <li>
                <a href="/#Pricing">Pricing</a>
              </li>
              <li>
                <a href="/#About">About</a>
              </li>
            </ul>
          </div>
          <div class="box">
            <h5>Help</h5>
            <ul>
              <li>
                <a href="/#Contact">Contact us</a>
              </li>
              <li>
                <a href="{% url 'account:terms_and_conditions' %}">Terms & Conditions</a>
              </li>
              <li>
                <a href="{% url 'account:privacy_policy' %}">Privacy policy</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script type="module" src="{% static 'main.js' %}"></script>
  </body>
</html>
