.about_section{
    width: 100%;
    padding: 57px 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #485AFF;
}

.who_we,
.our_mission{
    max-width: 1138px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.who_we {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid #FFFFFFB2;
}

.who_we > h2,
.our_mission > h2 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 32px;
    font-weight: 700;
    /*line-height: 60px;*/
    text-align: left;
    color: #FFFFFF;
    text-transform: capitalize;
}

.who_we > p,
.our_mission > p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFFB2;
}

@media screen and (min-width: 1440px) {
    .about_section {
        padding: 80px 107px;
    }
    .who_we, .our_mission {
        max-width: 100%;
    }
    .who_we {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    .who_we > h2,
    .our_mission > h2 {
        font-size: 48px;
        line-height: 60.48px;
    }
    .who_we > p,
    .our_mission > p {
        font-size: 24px;
        line-height: 34.8px;
    }
    .our_mission > p {
        margin-right: 26px;
    }
    .about_section > .who_we,
    .about_section > .our_mission {
        transform: scale(0.9);
    }

}

@media screen and (max-width: 560px) {
    .about_section{
        padding: 40px 20px;
    }

    .who_we,
    .our_mission{
        flex-direction: column;
        /*justify-content: space-between;*/
        align-items: center;
    }

    .who_we {
        padding-bottom: 48px;
        margin-bottom: 48px;
    }

    .who_we > h2,
    .our_mission > h2 {
        margin-bottom: 24px;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .who_we > p,
    .our_mission > p {
        font-size: 16px;
        line-height: 23px;
    }
}


.indented-paragraph {
    margin-left: 0; /* Default for small screens */
}

/* Apply margin-left: 6rem; only for medium and large screens */
@media screen and (min-width: 768px) {
    .indented-paragraph {
        margin-left: 8rem;
    }
}
