footer {
    padding: 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #191919;
    gap: 2rem;
}

footer > .information {
    flex: 1 1 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    margin-bottom: 2rem;
}

footer > .information > img {
    width: 40%;
    max-width: 200px;
    margin: 0px 0 22px 0;
    object-fit: contain;
}

footer > .information > p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: clamp(13px, 2vw, 16px);
    line-height: 1.5;
    color: #FFFFFFB2;
}

footer > .information > .desktop_p {
    display: block;
}
footer > .information > .mobile_p {
    display: none;
}

footer > .information > .socials {
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0;
}

footer > .information > .socials > li > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

footer > .navigation_bar {
    flex: 1 1 100%;
    max-width: 455px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.3rem;
    text-align: flex-start;
}

footer > .navigation_bar > .box > h5 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: clamp(11px, 2vw, 16px);
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

footer > .navigation_bar > .box > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

footer > .navigation_bar > .box > ul li a {
    font-family: Plus Jakarta Sans, sans-serif;
    text-decoration: none;
    font-size: clamp(11px, 2vw, 16px);
    color: #FFFFFFB2;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 5vw 4vw;
        gap: 0;
        min-height: 470px;
        max-height: 550px;

    }

    footer > .information {
        text-align: flex-start;
        margin-top: 2rem;
    }

    footer > .information > .desktop_p {
        display: none;
    }
    footer > .information > .mobile_p {
        display: block;
    }

    footer > .information > .socials {
        margin-bottom: 1rem;
    }
    footer > .navigation_bar {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    footer > .navigation_bar > .box > ul {
        gap: 0.5rem;
    }
}


footer .box{
    max-width: calc(33.333% - -10px);
}
@media screen and (max-width:560px) {
    footer .box{
        max-width: calc(33.333% - -10px);
    }
    
}
