.have_done_section {
    display: none;
}

@media screen and (max-width: 560px) {
    .have_done_section {
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #485AFF;
    }

    .have_done_section > h1 {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 24px;
        text-transform: capitalize;
    }

    .have_done_section > p {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #FFFFFFB2;
        text-transform: capitalize;
    }

    .have_done_section > .block {
        margin-top: 72px;
        display: flex;
        flex-direction: column;
    }

    .have_done_section > .block > .box {
        width: 345px;
        height: 345px;
        background: #D9D9D9;
        border-radius: 16px;
        margin-bottom: 48px;
    }

    .have_done_section > .block > h2 {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        color: #FFFFFF;
        text-transform: capitalize;
        margin-bottom: 24px;
    }

    .have_done_section > .block > p {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #FFFFFFB2;
        text-transform: capitalize;
    }
}