header {
  position: relative;
  width: 100%;
  height: 67px;
  padding: 12px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #ffffff;
}

header > .logo {
  width: 176px;
  height: 25px;
  object-fit: contain;
}

header > .menu {
  display: none;
}

header > div {
  display: flex;
  align-items: center;
}

header > div > .navigation {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0 16px 0 0;
  padding: 0;
}

header > div > .navigation li a {
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #191919;
}

header > div > .navigation li:last-child {
  border-right: 1px solid #19191980;
}

header > div > .auth {
  display: flex;
  max-height: 50px;
}

header > div > .auth > .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 41px;
  cursor: pointer;
  margin-right: 16px;
  background: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #191919;
  border-radius: 50px;
  border: 2px solid #191919;
  box-shadow: 2px 2px 0 1px #000000;
}

header > div > .auth > .get_started {
  width: 128px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #485aff;
  border: 2px solid #191919;
  box-shadow: 2px 2px 0 1px #000000;
  border-radius: 50px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  transition: transform 0.5s;
}

header > div > .auth > .get_started:active {
  transform: scale(0.9);
  transition: transform 0.5s;
}

@media screen and (min-width: 1600px) {
  header > .logo {
    width: 264px;
    height: 38px;
    object-fit: contain;
  }
  header {
    padding: 34px 100px;
    height: 100px;
    position: relative;
  }
  header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header > div > .navigation {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0 32px 0 0;
    padding: 0;
  }

  header > div > .navigation li a {
    font-size: 22px;
    font-weight: 400;
    line-height: 30.24px;
    text-align: left;
    color: #191919;
    margin: 0 16px;
  }

  header > div > .auth {
    display: flex;
    align-items: center;
    gap: 0px;
  }

  header > div > .auth > .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-right: 24px;
    margin-left: 32px;
    background: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.24px;
    text-align: left;
    padding: 16px 28px 16px 28px;
    border-radius: 50px;
    border: 2px solid #191919;
    box-shadow: 2px 2px 0 1px #000000;
  }
  header > div > .auth > .get_started {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    cursor: pointer;
    background: #485aff;
    border: 2px solid #191919;
    box-shadow: 2px 2px 0 1px #000000;
    padding: 16px 28px 16px 28px;
    border-radius: 50px;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.24px;
    text-align: center;
    color: #ffffff;

    transition: transform 0.5s;
  }
  .line {
    height: 35px;
    border: 1px solid #19191980;
  }
  header > div > .navigation li:last-child {
    border-right: 0px solid #19191980;
    margin-right: 0px;
  }
  header > div > .navigation li:last-child a {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1400px) {
  header > .logo {
    width: 264px;
    height: 38px;
    object-fit: contain;
  }
  header {
    padding: 34px 100px;
    height: 100px;
    position: relative;
  }
  header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header > div > .navigation {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0 32px 0 0;
    padding: 0;
  }

  header > div > .navigation li a {
    font-size: 22px;
    font-weight: 400;
    line-height: 30.24px;
    text-align: left;
    color: #191919;
    margin: 0 16px;
  }

  header > div > .auth {
    display: flex;
    align-items: center;
    gap: 0px;
  }

  header > div > .auth > .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-right: 24px;
    margin-left: 32px;
    background: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.24px;
    text-align: left;
    padding: 16px 28px 16px 28px;
    border-radius: 50px;
    border: 2px solid #191919;
    box-shadow: 2px 2px 0 1px #000000;
  }
  header > div > .auth > .get_started {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    cursor: pointer;
    background: #485aff;
    border: 2px solid #191919;
    box-shadow: 2px 2px 0 1px #000000;
    padding: 16px 28px 16px 28px;
    border-radius: 50px;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.24px;
    text-align: center;
    color: #ffffff;

    transition: transform 0.5s;
  }
  .line {
    height: 35px;
    border: 1px solid #19191980;
  }
  header > div > .navigation li:last-child {
    border-right: 0px solid #19191980;
    margin-right: 0px;
  }
  header > div > .navigation li:last-child a {
    margin-right: 0px;
  }
}
@media screen and (max-width:1080px) {
  header {
    height: 100px;
    padding: 34px 24px 34px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  header > div > .navigation li,
  header > div > .auth {
    display: none;
  }

  header > .logo {
    width: 200px;
    height: 28px;
  }

  header > .menu {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 24px;
    top: calc((100% - 25px) / 2);
  }
  
}
@media screen and (max-width: 980px) {
  header {
    height: 100px;
    padding: 34px 24px 34px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  header > div > .navigation li,
  header > div > .auth {
    display: none;
  }

  header > .logo {
    width: 200px;
    height: 28px;
  }

  header > .menu {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 24px;
    top: calc((100% - 25px) / 2);
  }

}

@media screen and (max-width: 560px) {
  header {
    height: 100px;
    padding: 34px 24px 34px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  header > div > .navigation li,
  header > div > .auth {
    display: none;
  }

  header > .logo {
    width: 200px;
    height: 28px;
  }

  header > .menu {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 24px;
    top: calc((100% - 25px) / 2);
  }
}
