.hero_section {
  position: relative;
  padding: 93px 72px 147px 72px;
  background: #485aff;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elips {
  position: absolute;
  width: 120%;
  left: -10%;
  bottom: -105px;
  border-radius: 100%;
  height: 185px;
  background: #ffffff;
}

.hero_section>.container>.hero_section_mobile_text {
  display: none;
}

.hero_section>.container>.hero_section_desktop_text {
  display: block;
}

.hero_section>.container {
  /*width: calc(100% - 66px);*/
  max-width: 1074px;
  /*height: 502px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 70px;
}

.hero_section>.container>h1,
.hero_section>.container>h1>span {
  margin-top: 51px;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
  color: #ffffff;
}

.hero_section>.container>h1>span {
  color: #ffcc00;
}

.hero_section>.container>p {
  margin: 16px 0 32px 0;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #ffffffb2;
  text-transform: capitalize;
}

.hero_section>.container>a {
  gap: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 46px;
  /*padding: 20px 28px 20px 28px;*/
  border-radius: 50px;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  border: 1px solid #191919;
  box-shadow: 1px 1px 0 1px #000000;
  outline: none;
  background: #ffffff;
  transition: transform 0.5s;
}

.hero_section>.container>button>img {
  margin-left: 10px;
}

.hero_section>.container>button:active {
  transform: scale(0.9);
  transition: transform 0.5s;
}

.hero_section>.box {
  position: relative;
  width: 393px;
  height: 392px;
  border-radius: 16px;
  background: #5c5c5c;
}

.paint_a {
  position: absolute;
  width: 52px;
  height: 76px;
  left: -30px;
  top: -40px;
}

.paint_b {
  position: absolute;
  top: -13px;
  right: 80px;
}

.paint_c {
  position: absolute;
  top: 60px;
  right: -20px;
}

@media screen and (min-width: 1440px) {
  .elips {
    bottom: -180px;
    height: 240px;
  }

  .hero_section>.container {
    width: 1000px;
  }

  .hero_section>.container>h1,
  .hero_section>.container>h1>span {
    margin-top: 51px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 88.94px;
    text-align: left;
    color: #ffffff;
  }

  .hero_section>.container>h1>span {
    color: #ffcc00;
  }

  .hero_section>.container>p {
    margin: 24px 0 48px 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.85px;
    letter-spacing: 0.1%;
    text-align: left;
    color: #ffffffb2;
    text-transform: capitalize;
  }

  .hero_section>.container>a {
    gap: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 20px 28px 20px 28px;
    border-radius: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30.24px;
    text-align: center;
    border: 1px solid #191919;
    box-shadow: 1px 1px 0 1px #000000;
    outline: none;
    background: #ffffff;
    transition: transform 0.5s;
  }

  .hero_section>.box {
    position: relative;
    width: 590px;
    height: 588px;
    border-radius: 16px;
    background: #5c5c5c;
  }

  .paint_a {
    width: 79.3px;
    height: 114.48px;
  }

  .hero_section>.container {
    transform: scale(0.9);
  }
}

@media screen and (max-width:1080px) {

  .hero_section>.container>h1,
  .hero_section>.container>h1>span {
    margin-top: 31px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 58.94px;
    text-align: left;
    color: #ffffff;
  }

  .hero_section>.container>h1>span {
    color: #ffcc00;
  }

  .hero_section>.container>p {
    margin: 24px 0 48px 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.85px;
    letter-spacing: 0.1%;
    text-align: left;
    color: #ffffffb2;
    text-transform: capitalize;
  }


  .hero_section>.box {
    position: relative;
    width: 590px;
    height: 588px;
    border-radius: 16px;
    background: #5c5c5c;
  }

  .paint_a {
    width: 79.3px;
    height: 114.48px;
  }

  .hero_section>.container {
    transform: scale(0.9);
  }

  .hero_section {
    padding: 93px 72px 147px 72px;
  }


  .hero_section>.container {
    width: calc(100% - 18px);
    height: auto;
    /* align-items: center; */
    margin-bottom: 48px;
  }

  .hero_section>.container>p {
    line-height: 23px;
  }

  .hero_section>.box {
    position: relative;
    width: 365px;
    height: 325px;
  }

  .paint_a {
    width: 40px;
    height: 57px;
    left: -20px;
    top: -30px;
  }

  .paint_b {
    top: -10px;
    right: 50px;
    width: 35px;
    height: 18px;
  }

  .paint_c {
    position: absolute;
    top: 50px;
    right: -17px;
    width: 35px;
    height: 8px;
  }
}

@media screen and (max-width:926px) {

  .hero_section>.container>h1,
  .hero_section>.container>h1>span {
    margin-top: 21px;
    font-size: 34px;
    font-weight: 700;
    line-height: 48.94px;
    text-align: left;
    color: #ffffff;
  }

  .hero_section>.container>h1>span {
    color: #ffcc00;
  }
}

@media screen and (max-width:780px) {
  .hero_section {
    /* padding: 48px 25px 148px 25px; */
    flex-direction: column;
  }

  .hero_section>.container>.hero_section_mobile_text {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }

  .hero_section>.container>.hero_section_desktop_text {
    display: none;
  }

  .hero_section>.container {
    height: auto;
    align-items: center;
    margin-bottom: 48px;
  }

  .hero_section>.container>h1,
  .hero_section>.container>h1>span {
    margin-top: 0;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  .hero_section>.container>p {
    line-height: 23px;
    text-align: center;
  }

  .hero_section>.container>a {
    gap: 15px;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    width: 342px;
    height: 56px;
    padding: 16px 24px 16px 24px;
  }

  .hero_section>.box {
    position: relative;
    width: 345px;
    height: 325px;
  }

  .paint_a {
    width: 40px;
    height: 57px;
    left: -20px;
    top: -30px;
  }

  .paint_b {
    top: -10px;
    right: 50px;
    width: 35px;
    height: 18px;
  }

  .paint_c {
    position: absolute;
    top: 50px;
    right: -17px;
    width: 35px;
    height: 8px;
  }

}








@media screen and (max-width: 560px) {
  .hero_section {
    padding: 48px 25px 148px 25px;
    flex-direction: column;
    height: 57rem;
  }
  .hero_section>.container>.hero_section_mobile_text {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }

  .hero_section>.container>.hero_section_desktop_text {
    display: none;
  }

  .hero_section>.container {
    height: auto;
    align-items: center;
    margin-bottom: 48px;
    width: calc(100% - 18px);
  }

  .hero_section>.container>h1,
  .hero_section>.container>h1>span {
    margin-top: 0;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  .hero_section>.container>p {
    line-height: 23px;
    text-align: center;
  }

  .hero_section>.container>a {
    gap: 15px;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    width: 342px;
    height: 56px;
    padding: 16px 24px 16px 24px;
  }

  .hero_section>.box {
    position: relative;
    width: 345px;
    height: 325px;
  }

  .paint_a {
    width: 40px;
    height: 57px;
    left: -20px;
    top: -30px;
  }

  .paint_b {
    top: -10px;
    right: 50px;
    width: 35px;
    height: 18px;
  }

  .paint_c {
    position: absolute;
    top: 50px;
    right: -17px;
    width: 35px;
    height: 8px;
  }
}