.hooks_section{
    width: 100%;
    padding: 55px 72px 0 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(122, 135, 255, 0.06) 88%, rgba(72, 90, 255, 0) 100%);
}
.hooks_section > .title {
    width: 100%;
    margin-bottom: 48px;
}
.hooks_section > .title >  h1 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: #191919;
    margin-bottom: 16px;
}

.hooks_section > .title >  h4 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #191919B2;
}


.hooks_section > .container {
    width: 100%;
    max-width: 1137px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hooks_section > .container:last-child {
    padding-bottom: 48px;
    border-bottom: 1px solid #19191980;
}

.hooks_section > .container > .box {

}

.hooks_section > .container > .box > video {
    width: 95%;
    height: 370px;
    object-fit: contain;
}

@media screen and (min-width: 1440px) {
    .hooks_section {
        padding: 80px 108px 0 80px;
    }
    .hooks_section > .title {
        margin-bottom: 72px;
    }
    .hooks_section > .title >  h1 {
        font-size: 48px;
        line-height: 66px;
        margin-bottom: 24px;
    }
    .hooks_section > .title >  h4 {
        font-size: 24px;
        line-height: 30.24px;
    }
    .hooks_section > .container {
        box-sizing: border-box;
        max-width: 1704px;
        flex-wrap: nowrap;
    }

    .hooks_section > .container > .box > video {
        width: auto;
        height: 555px;
    }
    .hooks_section > .title,
    .hooks_section > .container {
        transform: scale(0.9);
    }
    .hooks_section {
        height: 1400px;
    }
}

@media screen and (max-width: 560px) {
    .hooks_section{
        padding: 40px 24px;
    }

    .hooks_section > .title {
        width: 100%;
        margin-bottom: 48px;
    }


    .hooks_section > .title >  h1 {
        margin-bottom: 24px;
        font-size: 32px;
        text-align: center;
    }

    .hooks_section > .title >  h4 {
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #000000;
    }


    .hooks_section > .container {
        display: flex;
        flex-direction: column;
    }

    .hooks_section > .container:last-child {
        padding-bottom: 0;
        border: none;
    }

    .hooks_section > .container > .box {
        margin: 24px 0;
    }

    .hooks_section > .container > .box > video {
        width: 100%;
        height: 380px;
    }
}