.plan_section {
  width: 100%;
  padding: 55px 72px 45px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(122, 135, 255, 0.06) 88%,
      rgba(72, 90, 255, 0) 100%);
}

.plan_section>.title,
.plan_section>.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img.boosted_most_popularr {
  top: -11px;
  position: absolute;
  right: 15px;
}
.plan_section>.title>h1 {
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  text-transform: capitalize;
  color: #191919;
}

.plan_section>.prices {
  margin: 48px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.plan_section>.prices>.card {
  width: 260px;
  background: white;
  padding: 18px 23px 18px 23px;
  /*height: 228px;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  border-radius: 8px;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0 -2px #000000;
}

.plan_section>.prices>.card>h5 {
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  margin-bottom: 13px;
  color: #485aff;
}

.plan_section>.prices>.card>h1 {
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: center;
  color: #0f172a;
}

.plan_section>.prices>.card>h1>span {
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #191919b2;
  letter-spacing: 1px;
}

.plan_section>.prices>.card>h6 {
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #606571;
}

.plan_section>.prices>.card>h4 {
  margin: 19px 0;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #0f172a;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.plan_section>.prices>.card>h4>img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.plan_section>.prices>.card>a {
  cursor: pointer;
  background: white;
  /*width: Fill (320px)px;*/
  /*height: Hug (65px)px;*/
  width: 213px;
  height: 43px;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 18px 13px 18px;
  border-radius: 50px;
  border: 2px solid #191919;
  box-shadow: 2px 2px 0 1px #000000;
  transition: transform 0.5s;
}

.plan_section>.prices>.card>a:active {
  transform: scale(0.9);
  transition: transform 0.5s;
}

.plan_section>.prices>.card>a>img {
  margin-left: 10px;
}

.plan_section>.prices>.card:nth-child(2) {
  position: relative;
  margin: 0 16px;
  background: #485aff;
}

.plan_section>.prices>.card:nth-child(2)>.boosted {
  position: absolute;
  top: -9px;
  right: 16px;
  font-family: Inter, sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background: #ffffff;
  color: #191919;
  border: 1px solid #000000;
  box-shadow: 2px 2px 0 1px #000000;
  width: 78px;
  height: 18px;
  padding: 2px 8px 2px 8px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan_section>.prices>.card:nth-child(2)>h5,
.plan_section>.prices>.card:nth-child(2)>h1,
.plan_section>.prices>.card:nth-child(2)>h1>span,
.plan_section>.prices>.card:nth-child(2)>h4 {
  color: #ffffff;
}

.plan_section>.prices>.card:nth-child(2)>h6 {
  color: #ffffffb2;
}

.plan_section>.info>h4 {
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #191919;
  margin-bottom: 21px;
}

.plan_section>.info>ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.plan_section>.info>ul>li {
  margin: 5.5px 0;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #191919b2;
}

.plan_section>.info>ul>li:last-child {
  margin-bottom: 0;
}

.plan_section>.info>ul>li>img {
  margin-right: 16px;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1440px) {
  .plan_section {
    padding: 80px 108px;
  }

  .plan_section>.title>h1 {
    font-size: 48px;
    line-height: 66px;
  }

  .plan_section>.prices {
    margin: 20px 0;
  }

  .plan_section>.prices>.card {
    width: 390px;
    padding: 28px 35px;
  }

  .plan_section>.prices>.card>h5 {
    font-size: 18px;
    line-height: 28px;
  }

  .plan_section>.prices>.card>h1 {
    font-size: 48px;
    line-height: 50px;
  }

  .plan_section>.prices>.card>h1>span {
    font-size: 16px;
    line-height: 50px;
  }

  .plan_section>.prices>.card>h6 {
    font-size: 16px;
    line-height: 26px;
  }

  .plan_section>.prices>.card>h4 {
    margin: 29px 0;
    font-size: 20px;
    line-height: 26px;
  }

  .plan_section>.prices>.card>h4>img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

  .plan_section>.prices>.card>a {
    padding: 20px 28px;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    line-height: 25.2px;
  }

  .plan_section>.prices>.card:nth-child(2)>.boosted {
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    width: fit-content;
    height: fit-content;
  }

  .plan_section>.info>h4 {
    font-size: 24px;
    line-height: 32.4px;
    margin-bottom: 32px;
  }

  .plan_section>.info>ul>li {
    margin-top: 0px;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 21.6px;
  }

  .plan_section>.info>ul>li>img {
    margin-right: 24px;
    width: 24px;
    height: 24px;
  }

  .plan_section>.prices,
  .plan_section>.title {
    transform: scale(0.9);
  }

  .plan_section>.info {
    padding-left: 80px;
  }
}

@media screen and (max-width: 890px) {
  .plan_section>.prices {
    flex-direction: column;
    align-items: center;
  }

  .plan_section>.prices>.card {
    margin: 16px 0;
    width: 100%;
    max-width: 320px;
  }

  .plan_section>.prices>.card3 {
    margin-top: 0px;
  }

  .plan_section>.info>ul>li {
    text-align: left;
  }
}

@media screen and (max-width: 560px) {
  .plan_section {
    padding: 20px 24px 40px 24px;
  }

  .plan_section>.title,
  .plan_section>.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .plan_section>.title>h1 {
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-transform: none;
  }

  .plan_section>.prices {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
  }

  .plan_section>.prices>.card {
    margin: 48px 0;
    width: 345px;
    padding: 28px 35px 28px 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan_section>.prices>.card>.boosted {
    width: 104px;
    height: 28px;
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 2px 2px 0 1px #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }

  .plan_section>.prices>.card:last-child {
    margin-bottom: 0;
  }

  .plan_section>.prices>.card>h5 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .plan_section>.prices>.card>h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 3px;
  }

  .plan_section>.prices>.card>h1>span {
    font-size: 16px;
  }

  .plan_section>.prices>.card>h6 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 29px;
  }

  .plan_section>.prices>.card>h4 {
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 29px;
  }

  .plan_section>.prices>.card>a {
    width: 275px;
    height: 64px;
    padding: 20px 28px 20px 28px;
    border-radius: 50px;
    font-family:
      Plus Jakarta Sans,
      sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.16px;
    text-align: left;
  }

  .plan_section>.info {
    display: none;
  }
}