@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(122, 135, 255, 0.06) 88%, rgba(72, 90, 255, 0) 100%);
}

.root>header {
    width: 100%;
    height: 53px;
    padding: 0 72px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root>header>img {
    width: 162px;
    height: 23px;
    object-fit: contain;
}

.root>header>.account {
    display: flex;
    align-items: center;
}

.root>header>.account>h5 {
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    text-align: left;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #FFFFFFB2;
    color: #FFFFFF;
}

.root>header>.account>.user {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root>.menu {
    /*padding: 12px 9px;*/
    position: absolute;
    width: 222px;
    /*height: 232px;*/
    border-radius: 5px;
    top: 74px;
    right: 72px;
    z-index: 5;
    box-shadow: 0 4px 4px -4px #0C0C0D0D, 0 16px 32px -4px #0C0C0D1A;
    background: #FFFFFF;
    display: none;
}

.root>.menu>ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root>.menu>ul li {
    cursor: pointer;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #191919;
    padding: 12px 9px;
    display: flex;
    justify-content: space-between;
}


.root>.menu>ul>.name {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.root>.menu>ul>.email {
    color: #191919B2;
    border-bottom: 1px solid #19191933;
}

.root>.menu>ul li:last-child {
    border-top: 1px solid #19191933;
}


.root>.content {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.root>.content>.success_block {
    width: 364px;
    height: 364px;
    padding: 32px;
    border: 1px solid #0000004D;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.root>.content>.success_block>.head {
    width: 100%;
    display: flex;
    align-items: center;
}

.root>.content>.success_block>.head>img {
    cursor: pointer;
    width: 21px;
    height: 21px;
    margin-right: 21px;
    object-fit: contain;
}

.root>.content>.success_block>.head>h5 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #485AFF;
}

.root>.content>.success_block>.info_block {
    margin: 32px 0;
    width: 300px;
    height: 113px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.root>.content>.success_block>.info_block>li {
    width: 100%;
    height: 38px;
    padding: 9px 7px;
    border-bottom: 1px solid #19191980;

    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

}

.root>.content>.success_block>.info_block>li:last-child {
    border: none;
}

.root>.content>.success_block>button {
    cursor: pointer;
    border: none;
    width: 300px;
    height: 43px;
    padding: 13px 18px;
    border-radius: 33px;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #485AFF;
    transition: transform .5s;
    text-transform: capitalize;
}

.root>.content>.success_block>button:active {
    transform: scale(.9);
    transition: transform .5s;
}

.root>.content>.success_block>a {
    margin-top: 22px;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    color: #485AFF;
    text-transform: capitalize;
}



@media screen and (min-width: 1440px) {
    .root>header {
        height: 72px;
        padding: 34px 108px;
    }

    .root>header>img {
        width: 243.16px;
        height: 35px;
    }
    .root > .content > .success_block {
        transform: scale(0.9);
    }
    .root>header>.account>h5 {
        font-size: 14px;
        line-height: 17.07px;
        padding-right: 16px;
        margin-right: 16px;
    }

    .root>header>.account>.user {
        width: 50px;
        height: 50px;
    }

    .root>header>img,
    .root>header>.account {
        transform: scale(0.9);
    }

    .root>.menu {
        width: 333px;
        border-radius: 8px;
        right: 96px;
        top: 56px;
    }

    .root>.menu>ul li {
        font-size: 20px;
        line-height: 25.2px;
        padding: 18px 14px;
    }

    .root>.menu>ul>.name {
        font-size: 24px;
        line-height: 30.24px;
        padding-bottom: 0;
    }

    .root>.menu>ul>.email {
        padding-top: 12px;
    }

    .root>.menu {
        transform: scale(0.8);
    }

    .root {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(122, 135, 255, 0.10) 88%, rgba(72, 90, 255, 0) 100%);
    }

    .root>#content {
        padding-top: 0px;
        height: 100%;

    }

    .root>.content>.success_block {
        width: 546px;
        height: fit-content;
        padding: 48px;
        /* height: fit-content; */
        border-radius: 8px;
    }

    .root>.content>.success_block>.head>img {
        width: 32px;
        height: 32px;
        margin-right: 32px;
    }

    .root>.content>.success_block>.head>h5 {
        font-size: 32px;
        line-height: 40.32px;
    }

    .root>.content>.success_block>.info_block {
        width: 100%;
        height: fit-content;
        margin-bottom: 0;
    }

    .root>.content>.success_block>.info_block>li {
        height: fit-content;
        padding: 14px 10px;
        font-size: 22px;
        line-height: 30.24px;
    }

    .root>.content>.success_block>.info_block>li:first-child {
        padding-bottom: 24px;
    }

    .root>.content>.success_block>button {
        width: 100%;
        height: fit-content;
        padding: 20px 28px;
        margin-top: 48px;
        font-size: 20px;
        line-height: 25.2px;
    }

    .root>.content>.success_block>a {
        font-size: 20px;
        line-height: 25.2px;
        margin-top: 34px;
    }

    .root>.content>.success_block {
        /* transform: scale(0.9); */
    }
}


@media screen and (max-width: 1440px) {
    .root>header {
        height: 72px;
        padding: 34px 108px;
    }

    .root>header>img {
        width: 243.16px;
        height: 35px;
    }

    .root>header>.account>h5 {
        font-size: 14px;
        line-height: 17.07px;
        padding-right: 16px;
        margin-right: 16px;
    }

    .root>header>.account>.user {
        width: 50px;
        height: 50px;
    }

    .root>header>img,
    .root>header>.account {
        transform: scale(0.9);
    }

    .root>.menu {
        width: 333px;
        border-radius: 8px;
        right: 96px;
        top: 56px;
    }

    .root>.menu>ul li {
        font-size: 20px;
        line-height: 25.2px;
        padding: 18px 14px;
    }

    .root>.menu>ul>.name {
        font-size: 24px;
        line-height: 30.24px;
        padding-bottom: 0;
    }

    .root>.menu>ul>.email {
        padding-top: 12px;
    }

    .root>.menu {
        transform: scale(0.8);
    }

    .root {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(122, 135, 255, 0.10) 88%, rgba(72, 90, 255, 0) 100%);
    }

    .root>#content {
        padding-top: 0px;
        height: 100%;

    }

    .root>.content>.success_block {
        width: 546px;
        height: fit-content;
        padding: 48px;
        /* height: fit-content; */
        border-radius: 8px;
    }

    .root>.content>.success_block>.head>img {
        width: 32px;
        height: 32px;
        margin-right: 32px;
    }

    .root>.content>.success_block>.head>h5 {
        font-size: 32px;
        line-height: 40.32px;
    }

    .root>.content>.success_block>.info_block {
        width: 100%;
        height: fit-content;
        margin-bottom: 0;
    }

    .root>.content>.success_block>.info_block>li {
        height: fit-content;
        padding: 14px 10px;
        font-size: 22px;
        line-height: 30.24px;
    }

    .root>.content>.success_block>.info_block>li:first-child {
        padding-bottom: 24px;
    }

    .root>.content>.success_block>button {
        width: 100%;
        height: fit-content;
        padding: 20px 28px;
        margin-top: 48px;
        font-size: 20px;
        line-height: 25.2px;
    }

    .root>.content>.success_block>a {
        font-size: 20px;
        line-height: 25.2px;
        margin-top: 34px;
    }

    .root>.content>.success_block {
        transform: scale(0.9);
    }
}

@media screen and (max-width:560px) {
    .root>.content>.success_block {
        transform: scale(0.9);
    }
    .root>header {
        padding: 0px;
    }

    .root>.content{
        padding: 0px;
    }
    .admin-header .profile-icn {
        width: 38px;
        height: 37px;
    }

    .root>.content>.success_block {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 34px;
    }

    .root>.content>.success_block>button {
        padding: 11px 8px;
        width: 100%;
        font-size: 17px;
        margin: 13px;
    }

    .root>.content>.success_block>.head>h5 {
        font-size: 23px;
    }

    /* .root>.content>.success_block>.info_block>li:first-child {
        padding: 10px;
    }

    .root>.content>.success_block>.info_block>li {
        padding: 10px;
    } */

    .root>.content>.success_block>.info_block>li {
        font-size: 18px;
    }

    .root>.content>.success_block>a {
        font-size: 18px;
        margin-top: 10px;
    }

}

@media screen and (max-width:400px) {
    .admin-header .profile-icn {
        width: 38px;
        height: 37px;
    }

    .root>header {
        padding: 0px;
    }

    .root>.content{
        padding: 0px;
    }
    .root>.content>.success_block {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
    }

    .root>.content>.success_block>button {
        padding: 10px;
        /* width: 70%; */
        font-size: 17px;
        margin: 13px;
    }

    .root>.content>.success_block>.head>h5 {
        font-size: 23px;
    }

    /* .root>.content>.success_block>.info_block>li:first-child {
        padding: 10px;
    }

    .root>.content>.success_block>.info_block>li {
        padding: 10px;
    } */

    .root>.content>.success_block>.info_block>li {
        font-size: 17px;
    }

    .root>.content>.success_block>a {
        font-size: 17px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 1440px) {
    .root>.content>.success_block>.info_block {
        width: 100%;
        height: fit-content;
        margin-bottom: 0;
        overflow: hidden;
    }
}
.success_block {
    overflow: hidden;
}

ul.info_block {
    overflow: hidden;
}