@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(122, 135, 255, 0.06) 88%, rgba(72, 90, 255, 0) 100%);
}

.root > header {
    width: 100%;
    height: 53px;
    padding: 0 72px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root > header > img {
    width: 162px;
    height: 23px;
    object-fit: contain;
}

.root > header > .account {
    display: flex;
    align-items: center;
}

.root > header > .account > h5 {
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    text-align: left;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #FFFFFFB2;
    color: #FFFFFF;
}

.root > header > .account > .user {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root > .menu {
    /*padding: 12px 9px;*/
    position: absolute;
    width: 222px;
    /*height: 232px;*/
    border-radius: 5px;
    top: 74px;
    right: 72px;
    z-index: 5;
    box-shadow: 0 4px 4px -4px #0C0C0D0D, 0 16px 32px -4px #0C0C0D1A;
    background: #FFFFFF;
    display: none;
}

.root > .menu > ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root > .menu > ul li {
    cursor: pointer;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #191919;
    padding: 12px 9px;
    display: flex;
    justify-content: space-between;
}


.root > .menu > ul > .name{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.root > .menu > ul > .email{
    color: #191919B2;
    border-bottom: 1px solid #19191933;
}

.root > .menu > ul li:last-child{
    border-top: 1px solid #19191933;
}


.root > .content {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.root > .content > .process_block {
    width: 364px;
    height: 218px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #0000004D;
}

.root > .content > .process_block > .actions {
    width: 100%;
    display: flex;
    align-items: center;
}

.root > .content > .process_block > .actions > img {
    width: 21px;
    height: 21px;
    margin-right: 21px;
    object-fit: contain;
}

.root > .content > .process_block > .actions > h5 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #485AFF;
}

.root > .content > .process_block > h4 {
    margin: 32px 0;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000000;
    display: inline-block;
}
.root > .content > .process_block > h4 > span {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background-color: #333;
    border-radius: 50%;
    animation: loading 1s infinite ease-in-out;
}
.root > .content > .process_block > h4 > span:nth-child(1) {
    animation-delay: 0s;
}
.root > .content > .process_block > h4 > span:nth-child(2) {
    animation-delay: 0.2s;
}
.root > .content > .process_block > h4 > span:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes loading {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}




.root > .content > .process_block > button {
    cursor: pointer;
    width: 300px;
    height: 43px;
    padding: 13px 18px;
    border-radius: 33px;
    background: #FF3E3E;

    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;

    transition: transform .5s;
}

.root > .content > .process_block > button:active {
    transform: scale(.9);
    transition: transform .5s;
}


@media screen and (min-width: 1440px) {
    .root > header {
        height: 72px;
        padding: 34px 108px;
    }
    .root > header > img {
        width: 243.16px;
        height: 35px;
    }
    .root > header > .account > h5 {
        font-size: 14px;
        line-height: 17.07px;
        padding-right: 16px;
        margin-right: 16px;
    }
    .root > header > .account > .user {
        width: 50px;
        height: 50px;
    }
    .root > header > img,
    .root > header > .account {
        transform: scale(0.9);
    }
    .root > .menu {
        width: 333px;
        border-radius: 8px;
        right: 96px;
        top: 56px;
    }
    .root > .menu > ul li {
        font-size: 20px;
        line-height: 25.2px;
        padding: 18px 14px;
    }
    .root > .menu > ul > .name {
        font-size: 24px;
        line-height: 30.24px;
        padding-bottom: 0;  
    }
    .root > .menu > ul > .email {
        padding-top: 12px;
    }
    .root > .menu {
        transform: scale(0.8);
    }
    .root {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(122, 135, 255, 0.10) 88%, rgba(72, 90, 255, 0) 100%);
    }

    .root > .content {
        padding-top: 108px;
    }
    .root > .content > .process_block {
        width: 546px;
        height: fit-content;
        border-radius: 8px;
    }
    .root > .content > .process_block > .actions > img {
        width: 32px;
        height: 32px;
    }
    .root > .content > .process_block > .actions > h5 {
        font-size: 32px;
        line-height: 40.32px;
    }
    .root > .content > .process_block > h4 {
        font-size: 24px;
        line-height: 30.24px;
        margin: 48px 0;
    }
    .root > .content > .process_block > button {
        font-size: 20px;
        line-height: 25.2px;
        padding: 20px 28px;
        width: 100%;
        height: fit-content;
    }
    .root > .content {
        transform: scale(0.9);
    }
}
