{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'processing.css' %}" />
    <!-- Add jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="icon"
          type="image/svg+xml"
          href="{% static 'assets/favicon.svg' %}" />

    <style>
      .loading-heading {
        text-align: center !important;
      }

      #loading {
        display: inline;
        margin: 0 5px;
      }
    </style>

    <title>Video Merger</title>
  </head>
  <body>
    <div class="root">
      <header>
        <img src="{% static 'assets/white_logo.svg' %}"
             alt="logo"
             onclick="window.location.href='{% url "account:home" %}'"
             style="cursor: pointer" />

        <div class="account">
          <h5>Merger Credits Remaining: {{ request.user.subscription.merge_credits }}</h5>
        </div>
      </header>
      <div class="content">
        <div class="process_block">
          <div class="actions">
            <a href="{% url 'merger:index' %}"
               style="display: flex;
                      align-items: center;
                      margin-right: 32px">
              <img src="{% static 'assets/arrow_left.svg' %}" alt="arrow" />
            </a>
            <h5>Processing</h5>
          </div>
          <h4 class="loading-heading">
            Loading
            <p id="loading">0%</p>
            <span></span><span></span><span></span>
          </h4>
        </div>
      </div>
    </div>

    <script>
      const user = document.querySelector(".user");
      const menu = document.querySelector(".menu");

      user.addEventListener("click", function() {
        if (menu.style.display === "block") {
          menu.style.display = "none"
        } else {
          menu.style.display = "block"
        }
      });
    </script>

    <script>
      setInterval(async () => {
        const res = await fetch('{% url "merger:get_progress" task_id=task_id %}');

        if (res.ok) {
          const {
            progress
          } = await res.json();

          document.querySelector('#loading').textContent = `${progress}%`;
        }
      }, 1500);
    </script>

    <script>
      // Polling interval (in milliseconds)
      var interval = 5000; // 5 seconds

      function checkTaskStatus() {
        $.ajax({
          url: "{% url 'merger:check_status' task_id=task_id %}",
          method: "GET",
          success: function(response) {
            if (response.status === "completed") {
              // Redirect to the success page once processing is complete
              window.location.href = "{% url 'merger:processing_successful' task_id=task_id %}";
            } else {
              console.log("Processing is still in progress. Please wait...");
            }
          },
          error: function() {
            console.log("Error while checking the task status.");
          }
        });
      }

      // Start polling the task status at regular intervals
      var polling = setInterval(checkTaskStatus, interval);
    </script>

  </body>
</html>
